#map {
    height:80vh;
}

.navbar {
    background-color: #E0AAAF!important;
}
.navbar-brand{
    font-family: 'Cedarville Cursive', cursive!important;
    font-size: 1.5rem;
}
.container-fluid{
    background-color: #E0AAAF!important;
}

body {
    background-color: #E0AAAF!important;
}
.card{
    border-color:none!important;
    background-color: #fce4e6!important;
}
.card-header {
    background-color: rgb(207, 118, 127)!important;
    color: white!important;
    border-color:none!important;
}
@media only screen and (max-width: 600px) {
    #map {
        height:50vh;
    }
}