#map {
    height:80vh;
}

#emailHelp{
    color:white!important;
}

.page-2-text{
    color: white;
}
.navbar {
    background-color: #E0AAAF!important;
}
.navbar-brand{
    font-family: 'Cedarville Cursive', cursive!important;
    font-size: 2rem;
}
h1{
    font-family: 'Cedarville Cursive', cursive!important;
    font-size: 4rem;
}
.container-fluid{
    background-color: #E0AAAF!important;
}

body {
    background-color: #E0AAAF!important;
    margin-bottom: 15vh;
}

.card-header {
    background-color: rgb(207, 118, 127)!important;
    color: white!important;
    border:none!important;
}
.card {
    border:none!important;
}

#backing {
    background-color:white!important;
}
.btn {
    background-color: rgb(207, 118, 127)!important;
    color: white!important;
    border:none!important;
}
#page-1 {
    position: absolute;
    width:100%;
}

#page-2 {
    position: absolute;
    background-color: blue;
    height:100%;
}

#all-pages {
    position: relative;
}

.hidden {
    transform: translateX(-100%);
}

.show {
    transform: translateX(0);
}
.page {
    transition: transform 0.5s ease-in;
}
@media only screen and (max-width: 600px) {
    #map {
        height:50vh;
    }
}